@charset "utf-8";
@import "_mixin.scss";

/* 簡單流變媒體
   注意: 流變媒體要求您必須移除 HTML 中媒體的高度和寬度屬性
   http://www.alistapart.com/articles/fluid-images/ 
*/

img,
object,
embed,
video {
    max-width: 100%;
}

/* IE 6 不支援最大寬度，因此寬度預設為 100% */

.ie6 img {
    width: 100%;
}


/*
    Dreamweaver 流變格線屬性
    ----------------------------------
    dw-num-cols-mobile:     5;
    dw-num-cols-tablet:     8;
    dw-num-cols-desktop:    10;
    dw-gutter-percentage:   25;
    
    靈感來自於 Ethan Marcotte 的「具回應功能的網頁設計」 
    http://www.alistapart.com/articles/responsive-web-design
    
    以及 Joni Korpi 的「黃金格線系統」
    http://goldengridsystem.com/
*/


/* 行動版面: 480px 以下。 */

.mtree-skin-selector {
    display: none;
}

.gridContainer {
    margin: 0px auto;
    width: 100%;
    padding: 0px;
}

.boxsize {
    vertical-align: top;
}

.mobile {
    display: block;
}

.table {
    display: none;
}

.navmobile {
    opacity: 0;
    position: absolute;
}

.navtable {
    opacity: 1;
    position: relative;
}

.on{
    display: block !important;
}

.active {
    left: 0;
    opacity: 1;
}

.moveout {
    left: -80%;
    opacity: 0;
}

header {
    background: url(../images/headbg.jpg);
    border-bottom: 3px solid #e690b5;
    .content {
        font-size: 0;
        .logo {
            text-align: center;
            height: 95px;
            display: inline-block;
            width: 80%;
            &:before {
                content: "";
                height: 100%;
                display: inline-block;
                vertical-align: middle;
            }
            img {
                height: 42px;
                width: auto;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .menubtn {
            display: inline-block;
            width: 20%;
            cursor: pointer;
            text-align: center;
        }
    }
    .contactbox {
        display: none;
    }
}

nav {
    position: absolute;
    z-index: 999;
    width: 80%;
    height: 100vh;
    left: -80%;
    transition: all 1s ease 0s;
    opacity: 0;
    overflow-y: scroll;
    background: #892e70;
    .mtree-demo {
        height: auto;
        .mtree.transit {
            height: 100%;
        }
    }
}

.contenter {
    width: calc(100% - 40px);
    margin: 0 20px;
    .newsbox {
        width: 100%;
        .titlebox {
            font-size: 0;
            height: 17px;
            margin-bottom: 25px;
            .title {
                font-size: 22px;
                display: inline-block;
                line-height: 17px;
                margin-right: 10px;
            }
            .graybg {
                display: inline-block;
                background: #d0d0d0;
                width: calc(100% - 76px);
                height: 100%;
            }
        }
        .title,
        .date {
            color: #9a1286;
        }
        .content {
            margin-bottom: 50px;
            line-height: 20px;
            .news {
                margin-bottom: 20px;
                font-size: 14px;
                .date {
                    margin-bottom: 10px;
                    font-size: 15px;
                }
                a {
                    color: #000;
                }
            }
            .morenews {
                margin: auto;
                width: 100px;
                height: 29px;
                background: #9a1286;
                text-align: center;
                a {
                    font-size: 18px;
                    line-height: 29px;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
    .popularbox {
        width: 100%;
        a {
            color: #000;
        }
        .titlebox {
            font-size: 0;
            height: 17px;
            margin-bottom: 25px;
            .title {
                font-size: 22px;
                display: inline-block;
                line-height: 17px;
                margin-right: 10px;
            }
            .graybg {
                display: inline-block;
                background: #d0d0d0;
                width: calc(100% - 115.16px);
                height: 100%;
            }
        }
        .content {
            margin-bottom: 50px;
            font-size: 14px;
            line-height: 20px;
            img {
                margin-bottom: 13px;
            }
            .title {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
        .title {
            color: #9a1286;
        }
    }
    .vediobox {
        width: 100%;
        .titlebox {
            font-size: 0;
            height: 17px;
            margin-bottom: 25px;
            .title {
                font-size: 22px;
                display: inline-block;
                line-height: 17px;
                margin-right: 10px;
            }
            .graybg {
                display: inline-block;
                background: #d0d0d0;
                width: calc(100% - 78.47px);
                height: 100%;
            }
        }
        .content {
            margin-bottom: 50px;
            font-size: 14px;
            line-height: 20px;
            .embed-container {
                margin-bottom: 20px;
            }
            .title {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
        .title {
            color: #9a1286;
        }
    }
    .beautyexperience {
        .titlebox {
            font-size: 0;
            height: 17px;
            margin-bottom: 25px;
            .title {
                font-size: 22px;
                display: inline-block;
                line-height: 17px;
                margin-right: 10px;
            }
            .graybg {
                display: inline-block;
                background: #d0d0d0;
                width: calc(100% - 225.77px);
                height: 100%;
            }
        }
        .experience {
            margin-bottom: 40px;
            .blogcontent {
                box-sizing: border-box;
                padding: 10px;
                font-size: 14px;
                margin-bottom: 10px;
                display: inline-block;
                @include blogcontent;
                img {
                    margin-bottom: 15px;
                }
                .title {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
            }
            .morecase {
                margin: auto;
                width: 100px;
                height: 29px;
                background: #9a1286;
                text-align: center;
                a {
                    font-size: 18px;
                    line-height: 29px;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        .title {
            a {
                color: #9a1286;
            }
        }
        a {
            color: #000;
        }
    }
    .team {
        .titlebox {
            font-size: 0;
            height: 17px;
            margin-bottom: 25px;
            .title {
                font-size: 22px;
                display: inline-block;
                line-height: 17px;
                margin-right: 10px;
            }
            .graybg {
                display: inline-block;
                background: #d0d0d0;
                width: calc(100% - 173.45px);
                height: 100%;
            }
        }
        .doctor {
            @include blogcontent;
            margin-bottom: 25px;
            .slick-list.draggable {}
            .slick-slide {
                padding: 27px 40px 0px;
                img {
                    margin: 0px auto 15px;
                }
            }
            .slick-prev {
                left: 3%;
                z-index: 100;
                height: auto;
            }
            .slick-prev:before,
            .slick-next:before {
                display: none;
            }
            .slick-next {
                right: 3%;
                z-index: 100;
                height: auto;
            }
            h1 {
                font-size: 14px;
                text-align: center;
            }
        }
        .title {
            color: #9a1286;
        }
    }
    .fb {
        display: none;
    }
}

footer {
    ul.blog {
        background: #c65ba1;
        margin: 0;
        li {
            text-align: center;
            &:after {
                content: "";
                border-bottom: 2px solid #fff;
                display: block;
                width: 100%;
            }
            a {
                color: #fff;
                text-decoration: none;
                font-size: 20px;
                height: 60px;
                display: block;
                line-height: 60px;
            }
            .iconbox {
                font-size: 0;
                a {
                    margin: 0px 12px;
                    display: inline-block;
                    font-size: 0;
                    &:before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        height: 100%;
                    }
                    .icon {
                        width: 3em;
                        height: 3em;
                        vertical-align: middle;
                        font-size: initial;
                        fill: #fff;
                    }
                }
            }
        }
    }
    .info {
        background: #892e70;
        text-align: center;
        img {
            width: 250px;
            margin-top: 25px;
            margin-bottom: 35px;
            display: inline-block;
        }
        .content {
            color: #fff;
            width: 86.4%;
            margin: auto;
            text-align: left;
            display: inline-block;
            .focol {
                margin-bottom: 10px;
                font-size: 0;
                span {
                    display: inline-block;
                    font-size: 14px;
                }
                span.title {
                    display: inline-block;
                    vertical-align: top;
                    width: 70px;
                    position: relative;
                    &:after {
                        content: "：";
                        position: absolute;
                        right: 0;
                    }
                }
            }
            .single {
                font-size: 14px;
            }
            .qrcode {
                img {
                    width: 100%;
                    margin-bottom: 25px;
                }
            }
        }
    }
    .copyright {
        text-align: center;
        font-size: 12px;
        height: 85px;
        background: #fff;
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        .content {
            display: inline-block;
            vertical-align: middle;
            width: 286px;
            span {
                display: block;
            }
        }
    }
}


/* 表格版面: 481px 到 768px。樣式繼承自: 行動版面。 */

@media only screen and (min-width: 481px) {
    .gridContainer {
        width: 100%;
    }
    .mobile {
        display: none;
    }
    .table {
        display: block;
    }
    .boxsize {
        box-sizing: border-box;
    }
    .wrap {
        background: url('../images/bg.jpg');
        position: relative;
    }
    header {
        position: relative;
        .content {
            .logo {
                width: 100%;
                height: 120px;
                &:before {
                    content: "";
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                }
                img {
                    height: 42px;
                    width: auto;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .menubtn {
                display: none;
            }
        }
        .contactbox {
            display: block;
            position: absolute;
            font-size: 0;
            top: 0;
            right: 3%;
            .tel {
                margin-right: 10px;
                display: inline-block;
            }
            .online {
                display: inline-block;
            }
            .telinfo{
                color: #000;
                background: #fff;
                margin: auto;
                text-align: left;
                display: none;
                width: 200%;
                line-height: 25px;
                position: absolute;
                top: 55px;
                right: 0;
                z-index: 1000;
                .col {
                    margin-bottom: 10px;
                    font-size: 0;
                    span {
                        display: inline-block;
                        font-size: 16px;
                    }
                    span.title {
                        display: inline-block;
                        vertical-align: top;
                        width: 80px;
                        position: relative;
                        &:after {
                            content: "：";
                            position: absolute;
                            right: 0;
                        }
                    }
                }
                .single {
                    font-size: 14px;
                    width: 90%;
                    margin: 10px auto;
                }
                .qrcode {
                    img {
                        width: 100%;
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
    nav {
        left: 0;
        width: 100%;
        height: 60px;
        opacity: 1;
        position: relative;
        background: url(../images/menubg.jpg) repeat-x;
        overflow: inherit;
        ul.menu {
            font-size: 0;
            width: 100%;
            margin: auto;
            position: relative;
            a {
                padding: 0;
            }
            li {
                display: inline-block;
                font-size: 18px;
                width: calc(100% / 7);
                height: 60px;
                line-height: 60px;
                text-align: center;
                border: none;
                vertical-align: top;
                &:hover ul {
                    display: block;
                    left: 0;
                }
                &:nth-child(2):hover ul {
                    &:before {
                        left: 20.5%;
                    }
                }
                &:nth-child(3):hover ul {
                    &:before {
                        left: 35%;
                    }
                }
                &:nth-child(4):hover ul {
                    &:before {
                        left: 49.5%;
                    }
                }
                &:nth-child(5):hover ul {
                    &:before {
                        left: 64%;
                    }
                }
                &:nth-child(6):hover ul {
                    &:before {
                        left: 78.5%;
                    }
                }
                &:last-child:hover ul {
                    &:before {
                        left: 93%;
                    }
                }
                a {
                    color: #000;
                    text-decoration: none;
                    font-size: 2.5vw;
                    &:before {
                        content: "";
                    }
                }
                ul {
                    font-size: 0;
                    display: none;
                    background: #fff;
                    width: 100%;
                    position: absolute;
                    margin: 0;
                    &:before {
                        content: "";
                        width: 0;
                        position: absolute;
                        border: 10px solid transparent;
                        border-bottom-color: #fff;
                        top: -20px;
                        left: 6%;
                    }
                    li {
                        img {
                            border: 1px solid #9e9e9e;
                            display: inline-block;
                            margin: 25px auto 35px;
                            width: 80%;
                        }
                        height: 100%;
                        vertical-align: top;
                        &:nth-child(1) {
                            width: 45%;
                        }
                        &:nth-child(2) {
                            width: 55%;
                        }
                        ul {
                            width: 100%;
                            position: relative;
                            margin-top: 15px;
                            text-align: left;
                            &:before {
                                content: "";
                                display: none;
                            }
                            li {
                                width: 50% !important;
                                height: 30px;
                                line-height: 30px;
                                text-align: left;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .slick-dotted.slick-slider {
        margin: 0 !important;
        box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.5);
    }
    .contenter {
        font-size: 0;
        background: #fff;
        margin: 0;
        width: 100%;
        text-align: center;
        background: #f2f2f2;
        box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.5);
        .topbox {
            margin-top: 35px;
            display: inline-block;
            width: 90%;
            text-align: left;
        }
        .newsbox {
            display: inline-block;
            width: 50%;
            padding-right: 1.923%;
            .titlebox {
                .graybg {
                    .morenews {
                        font-size: 11px;
                        float: right;
                        line-height: 17px;
                        background: #9a1286;
                        text-align: center;
                        a {
                            color: #fff;
                            text-decoration: none;
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
        .popularbox {
            display: inline-block;
            width: 50%;
            padding-left: 1.923%;
            img{
                width: 100%;
            }
        }
        .vediobox {
            display: inline-block;
            width: 100%;
        }
        .experience {
            .blogcontent {
                width: calc(50% - 14px);
                margin-bottom: 20px;
                vertical-align: top;
                &:nth-child(2n) {
                    margin-left: 28px;
                }
                img {
                    margin-bottom: 35px;
                }
                .title {
                    margin-bottom: 10px;
                }
                .excontent {
                    min-height: 52px;
                }
            }
        }
        .team {
            .titlebox {
                font-size: 0;
                height: 17px;
                margin-bottom: 25px;
                .title {
                    font-size: 22px;
                    display: inline-block;
                    line-height: 17px;
                    margin-right: 10px;
                }
                .graybg {
                    display: inline-block;
                    background: #d0d0d0;
                    width: calc(100% - 173.45px);
                    height: 100%;
                }
            }
            .doctor {
                .slick-list.draggable {
                    border-left: 52px solid transparent;
                    border-right: 52px solid transparent;
                }
                .slick-slide {
                    padding: 28px 13.5px 0px;
                    img {
                        margin: 0px auto 15px;
                    }
                }
                .slick-prev {
                    left: 3%;
                    z-index: 100;
                    height: auto;
                }
                .slick-next {
                    right: 3%;
                    z-index: 100;
                    height: auto;
                }
            }
            .title {
                color: #9a1286;
            }
        }
    }
    footer {
        .blogbox {
            background: #c65ba1;
            ul.blog {
                font-size: 0;
                width: 100%;
                margin: auto;
                li {
                    text-align: center;
                    display: inline-block;
                    width: 25%;
                    &:after {
                        content: "";
                        display: none;
                    }
                    &:nth-child(1) {
                        width: 17%;
                    }
                    &:nth-child(2) {
                        width: 30%;
                    }
                    &:nth-child(3) {
                        width: 30%;
                    }
                    &:nth-child(4) {
                        width: 23%;
                    }
                    a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 2vw;
                        height: 60px;
                        display: block;
                        line-height: 60px;
                    }
                    .iconbox {
                        font-size: 0;
                        a {
                            margin: 0px 3px;
                            display: inline-block;
                            .icon {
                                width: 1.5em;
                                height: 1.5em;
                                vertical-align: middle;
                                font-size: initial;
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
        .info {
            img {
                width: 250px;
                margin-top: 25px;
                margin-bottom: 35px;
                display: inline-block;
            }
            .content {
                color: #fff;
                width: 70.96%;
                margin: 0px auto 25px;
                text-align: left;
                display: inline-block;
                .col {
                    margin-bottom: 10px;
                    font-size: 0;
                    span {
                        display: inline-block;
                        font-size: 14px;
                    }
                    span.title {
                        display: inline-block;
                        vertical-align: top;
                    }
                }
                .single {
                    font-size: 14px;
                }
                .qrcode {
                    display: none;
                    position: absolute;
                    top: 30px;
                    right: 0;
                    z-index: 999;
                }
            }
        }
        .copyright {
            text-align: center;
            font-size: 15px;
            height: 85px;
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }
            .content {
                display: inline-block;
                vertical-align: middle;
                width: 63.54%;
            }
        }
    }
}


/* 桌面版面: 769px 到最大 1232px。樣式繼承自: 行動版面和表格版面。 */

@media only screen and (min-width: 769px) {
    .gridContainer {
        width: 100%;
        max-width: 1600px;
        margin: auto;
    }
    header {
        .content {
            .logo {
                height: 141px;
                img {
                    height: 82px;
                }
            }
        }
        .contactbox {
            right: 10%;
        }
    }
    nav {
        ul.menu {
            width: 75%;
            li {
                a {
                    font-size: 18px;
                }
            }
        }
    }
    .contenter {
        font-size: 0;
        max-width: 1400px;
        width: 100%;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
        .topbox {
            margin: 35px 0px 0px;
            max-width: 1200px;
            .newsbox {
                display: inline-block;
                width: calc(95% / 3);
                padding: 0;
                .titlebox {
                    .graybg {
                        .morenews {
                            font-size: 11px;
                            float: right;
                            line-height: 17px;
                            background: #9a1286;
                            text-align: center;
                            a {
                                color: #fff;
                                text-decoration: none;
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }
            .popularbox {
                display: inline-block;
                width: calc(95% / 3);
                margin: 0 2.5%;
                padding: 0;
            }
            .vediobox {
                display: inline-block;
                width: calc(95% / 3);
            }
            .beautyexperience {
                .titlebox {
                    .graybg {
                        .morecase {
                            font-size: 11px;
                            float: right;
                            line-height: 17px;
                            background: #9a1286;
                            text-align: center;
                            a {
                                color: #fff;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .experience {
                    .blogcontent {
                        width: calc(33.3% - 5% / 3);
                        margin-bottom: 20px;
                        vertical-align: top;
                        &:nth-child(2n) {
                            margin-left: 0;
                        }
                        &:nth-child(2),
                        &:nth-child(5) {
                            margin: 0px 2.5%;
                        }
                        img {
                            margin-bottom: 35px;
                        }
                        .title {
                            margin-bottom: 10px;
                        }
                        .excontent {
                            min-height: 52px;
                        }
                    }
                }
            }
            .team {
                width: calc(100% - 330px);
                margin-right: 30px;
                display: inline-block;
                .doctor {
                    .slick-list.draggable {
                        border-left: 60px solid transparent;
                        border-right: 60px solid transparent;
                    }
                    .slick-slide {
                        padding: 10px;
                    }
                }
            }
            .fb {
                display: inline-block;
                vertical-align: top;
                width: 300px !important;
                iframe{
                    width: 300px !important;
                    div._2p3a{
                        width: 300px !important;
                    }
                }
            }
        }
    }
    footer {
        .blogbox {
            background: #c65ba1;
            ul.blog {
                font-size: 0;
                max-width: 1000px;
                margin: auto;
                li {
                    text-align: center;
                    display: inline-block;
                    width: 25%;
                    position: relative;
                    vertical-align: middle;
                    &:after {
                        content: "|";
                        display: block;
                        border-bottom: none;
                        color: #fff;
                        font-size: 1rem;
                        width: 1px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &:nth-child(1) {
                        width: 20%;
                    }
                    &:nth-child(2) {
                        width: 30%;
                    }
                    &:nth-child(3) {
                        width: 30%;
                    }
                    &:nth-child(4) {
                        width: 20%;
                    }
                    a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 1rem;
                        height: 60px;
                        display: block;
                        line-height: 60px;
                    }
                    .iconbox {
                        font-size: 0;
                        a {
                            margin: 0px 3px;
                            display: inline-block;
                            font-size: 0;
                            &:before {
                                content: "";
                                display: inline-block;
                                vertical-align: middle;
                                height: 100%;
                            }
                            svg {
                                width: 3em;
                                height: 3em;
                                vertical-align: middle;
                                display: inline-block;
                                font-size: initial;
                                fill: #fff;
                            }
                            &:nth-child(2) svg {
                                margin: 0 0 0 3px;
                            }
                            &:nth-child(3) svg {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .info {
            img {
                width: 250px;
                margin: 25px 50px 0px 0px;
                display: inline-block;
                vertical-align: middle;
            }
            .content {
                color: #fff;
                width: 70.96%;
                margin: 30px 0px 30px;
                text-align: left;
                display: inline-block;
                vertical-align: middle;
                .col {
                    margin-bottom: 10px;
                    font-size: 0;
                    span {
                        display: inline-block;
                        font-size: 14px;
                    }
                    span.title {
                        display: inline-block;
                        vertical-align: top;
                    }
                }
                .single {
                    font-size: 14px;
                }
                .qrcode {
                    display: none;
                }
            }
        }
        .copyright {
            text-align: center;
            font-size: 0px;
            height: 85px;
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }
            .content {
                display: inline-block;
                vertical-align: middle;
                font-size: 15px;
                width: 100%;
                span {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .contenter {
        .topbox {
            margin: 35px 7.14% 0px;
            .team {
                width: calc(100% - 412px);
                margin-right: 30px;
                display: inline-block;
                .doctor {
                    .slick-list.draggable {
                        border-left: 60px solid transparent;
                        border-right: 60px solid transparent;
                    }
                    .slick-slide {
                        padding: 10px;
                    }
                }
            }
            .fb {
                display: inline-block;
                vertical-align: top;
                width: 382px !important;
                iframe{
                    width: 382px !important;
                    ._2p3a{
                        width: 382px !important;
                    }
                }
            }
        }
    }
    footer {
        .blogbox {
            ul.blog {
                margin: auto;
            }
        }
        .info {
            padding: 0 7.14%;
        }
    }
}
